EPS_A7/src/eci/cosw/eps/integration/ips/WebServices.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.b8.cosw.eci.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.b8.cosw.eci.edu.co/" name="WebServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.b8.cosw.eci.edu.co/" schemaLocation="http://localhost:8080/IPS_B8/WebServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="dueBills">
<part name="parameters" element="tns:dueBills"></part>
</message>
<message name="dueBillsResponse">
<part name="parameters" element="tns:dueBillsResponse"></part>
</message>
<message name="WebServicesException">
<part name="fault" element="tns:WebServicesException"></part>
</message>
<message name="appointmentDetails">
<part name="parameters" element="tns:appointmentDetails"></part>
</message>
<message name="appointmentDetailsResponse">
<part name="parameters" element="tns:appointmentDetailsResponse"></part>
</message>
<message name="registerAppointment">
<part name="parameters" element="tns:registerAppointment"></part>
</message>
<message name="registerAppointmentResponse">
<part name="parameters" element="tns:registerAppointmentResponse"></part>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"></part>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"></part>
</message>
<message name="carryOutAppointment">
<part name="parameters" element="tns:carryOutAppointment"></part>
</message>
<message name="carryOutAppointmentResponse">
<part name="parameters" element="tns:carryOutAppointmentResponse"></part>
</message>
<message name="showUpAppointment">
<part name="parameters" element="tns:showUpAppointment"></part>
</message>
<message name="showUpAppointmentResponse">
<part name="parameters" element="tns:showUpAppointmentResponse"></part>
</message>
<message name="todayScheduleDetails">
<part name="parameters" element="tns:todayScheduleDetails"></part>
</message>
<message name="todayScheduleDetailsResponse">
<part name="parameters" element="tns:todayScheduleDetailsResponse"></part>
</message>
<message name="availableSchedule">
<part name="parameters" element="tns:availableSchedule"></part>
</message>
<message name="availableScheduleResponse">
<part name="parameters" element="tns:availableScheduleResponse"></part>
</message>
<message name="enumerateSpecialists">
<part name="parameters" element="tns:enumerateSpecialists"></part>
</message>
<message name="enumerateSpecialistsResponse">
<part name="parameters" element="tns:enumerateSpecialistsResponse"></part>
</message>
<message name="patientDetails">
<part name="parameters" element="tns:patientDetails"></part>
</message>
<message name="patientDetailsResponse">
<part name="parameters" element="tns:patientDetailsResponse"></part>
</message>
<message name="updateMedicalHistory">
<part name="parameters" element="tns:updateMedicalHistory"></part>
</message>
<message name="updateMedicalHistoryResponse">
<part name="parameters" element="tns:updateMedicalHistoryResponse"></part>
</message>
<portType name="WebServices">
<operation name="dueBills">
<input message="tns:dueBills"></input>
<output message="tns:dueBillsResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="appointmentDetails">
<input message="tns:appointmentDetails"></input>
<output message="tns:appointmentDetailsResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="registerAppointment">
<input message="tns:registerAppointment"></input>
<output message="tns:registerAppointmentResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="cancelAppointment">
<input message="tns:cancelAppointment"></input>
<output message="tns:cancelAppointmentResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="carryOutAppointment">
<input message="tns:carryOutAppointment"></input>
<output message="tns:carryOutAppointmentResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="showUpAppointment">
<input message="tns:showUpAppointment"></input>
<output message="tns:showUpAppointmentResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="todayScheduleDetails">
<input message="tns:todayScheduleDetails"></input>
<output message="tns:todayScheduleDetailsResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="availableSchedule">
<input message="tns:availableSchedule"></input>
<output message="tns:availableScheduleResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="enumerateSpecialists">
<input message="tns:enumerateSpecialists"></input>
<output message="tns:enumerateSpecialistsResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="patientDetails">
<input message="tns:patientDetails"></input>
<output message="tns:patientDetailsResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
<operation name="updateMedicalHistory">
<input message="tns:updateMedicalHistory"></input>
<output message="tns:updateMedicalHistoryResponse"></output>
<fault message="tns:WebServicesException" name="WebServicesException"></fault>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="dueBills">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="appointmentDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registerAppointment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="carryOutAppointment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="showUpAppointment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="todayScheduleDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="availableSchedule">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="enumerateSpecialists">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="patientDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateMedicalHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WebServicesException">
<soap:fault name="WebServicesException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="WebServicesService">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:11100"></soap:address>
</port>
</service>
</definitions>